<form action="<%=`/courses/${course._id}/update?_method=PUT`%>" method='POST'>
<h2>Edit the existing Course</h2>
<label for='inputTitle'>Title</label>
<input type='text' id='inputTitle' name='title' placeholder='Title' value="<%=course.title%>" autofocus required>
<label for="inputDescription">Description</label>
<input type="text" id="inputDescription" name='description' value="<%=course.description%>" required> 
<label for="inputMaxStudents">Max Students</label>
<input type="number" id="inputMaxStudents" name="maxStudents" value="<%=course.maxStudents%>" required>
<label for="inputCost">Cost</label>
<input type="number" id="inputCost" name="cost" value="<%=course.cost%>" required>
<button type="submit">Save</button>
</form>