<div>
    <h2 class="pageTitle" > Course data for <%=course.title %></h2>
    <div class="table-wrapper">
        <table class="fl-table">
            <tr>
                <th class="showTh">Title</th>
                <td class="showTh"><%=course.title%></td>
            </tr>
            <tr>
                <th class="showTh">Description</th>
                <td class="showTh"><%=course.description%></td>
            </tr>
            <tr>
                <th class="showTh">Max Students</th>
                <td class="showTh"><%=course.maxStudents%></td>
            </tr>
            <tr>
                <th class="showTh">Cost</th>
                <td class="showTh"><%=course.cost%></td>
            </tr>
        </table>
    </div>
</div>