<div class="courseContainer">
    <h2 class="formTitle">Edit User Details</h2>
    <form class="form" action="<%=`/users/${user._id}/update?_method=PUT`%>" method='POST'>
        <!-- <div class="title">Welcome</div>
        <div class="subtitle">Edit the existing User</div> -->
        <div class="input-container ic1">
            <input type='text' id='inputFirst' class="input" name='first' placeholder=' ' value="<%=user.name.first%>" autofocus>
            <div class="cut"></div>
            <label for="inputFirst" class="placeholder">First Name</label>
        </div>
        <div class="input-container ic2">
            <input class="input" type="text" id="inputlast" placeholder=" " name='last' value="<%=user.name.last%>" >
            <div class="cut cut-short"></div>
            <label for=" inputlast" class="placeholder" >Last Name</label>
        </div>
        <div class="input-container ic2">
            <input class="input" type="text" id="inputEmail" placeholder=" " name='email' value="<%=user.email%>" >
            <div class="cut cut-short"></div>
            <label for=" inputEmail" class="placeholder" >Email</label>
        </div>
        <div class="input-container ic2">
            <input class="input" type="number" id="inputZipCode" placeholder=" " name='zipCode' value="<%=user.zipCode%>" >
            <div class="cut cut-short"></div>
            <label for="inputZipCode" class="placeholder" >Zip Code</label>
        </div>
        <button type="submit" class="submit">Submit</button>
    </form>
</div>